* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

/* *::-webkit-scrollbar{
  width: 100px;
} */

:root {
  --btn-color: #FF385C;
  --btn-color-hover: #fc7e95;
  --height-btn: 45px;
  --text-lable-font: 16px;
 
}

html {
  font-family: sans-serif;
}

.clear {
  clear: both;
}

.white-text {
  color: #fff !important;
}

/* body {
  height: 1200px;
  background-color: black;
} */
/* Base */

.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  row-gap: 15px;
}

.grid-column-4 {
  width: 25%;
  padding: 0 8px;
}

.grid-column-3 {
  width: 33.33%;
  padding: 0 8px;
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

.negative {
  color: #fff;
  /* background-color: #222222; */
}

.header-txt {
  line-height: 52px;
  font-size: 48px;
  font-weight: 520;
}

.sub-header-txt {
  font-size: 18px;
  font-weight: 200;
}

.button {
  background-color: #222222;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 35px;
}

.button--negative {
  color: #222222;
  background-color: #fff;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
}
