body {
	font-family: "Poppins", sans-serif;
	line-height: 1.4;
}

.container {
	width: 100%;
	background-color: #fff;
	padding: 80px 25px 0px;
	display: flex;
	/* THEM */
	padding-left: 300px;
	padding-right: 300px;
	display: flex;
	flex-direction: column;
}

.container-landlords {
	display: flex;
	width: 100%;
}

.container-first-column {
	width: 30%;
	margin-top: 30px;
	height: calc(100% - 30px);
	/* background-color:#ff7b94; */
	background-color: #ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.container-avt {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 50px 0px;
}

.container-avt-block {
	width: 100%;
	min-height: 250px;
	display: flex;
	flex-direction: column;
}

.container-avt-block img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.container-avt-block p {
	margin-top: 30px;
	font-size: 25px;
	font-weight: 600;
	color: #333;
}

.container-avt-name {
	
}

.container-avt-name p {
	font-size: 25px;
	font-weight: 500;
	color: #fff;
}

.container-avt-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding-top: 30px;
}

.container-avt-info p {
	margin-top: 15px;
	font-weight: 400;
	font-size: 16px;
}

.container-avt-info p:first-child {
	font-weight: 600;
}

.container-avt-info p:first-child {
	margin-top: 0px;
	color: #333;
}

.container-avt-info-star {
	display: flex;
	align-items: center;
}

.container-avt-info-star p {
	margin: 0px;
	margin-top: 15px;
	font-size: 16px;
	font-weight: 400;
}

.container-avt-info-star i {
	color: #ff385c;
	margin-right: 10px;
	margin-top: 15px;
}

.container-avt-info-security {
	display: flex;
	align-items: center;
}

.container-avt-info-security p {
	font-size: 16px;
	font-weight: 400;
}

.container-avt-info-security i {
	margin-right: 10px;
	margin-top: 15px;
	color: #ff385c;
}

.container-avt-info-date {
	display: flex;
	align-items: center;
}

.container-avt-info-date {
	font-size: 16px;
	font-weight: 400;
}

.container-avt-info-date i {
	margin-right: 10px;
	margin-top: 15px;
	color: #ff385c;
}

.container-main {
	width: 70%;
	height: 100%;
	padding: 0px 30px;
}

.container-main-background {
	margin-top: 30px;
	width: 100%;
	height: 300px;
	border-radius: 10px;
}

.container-main-background img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.container-main-content {
	padding-top: 30px;
}

.container-main-content-title {
	
}

.container-main-content-title p {
	font-size: 16px;
	font-weight: 600;
	color: #333;
	margin-bottom: 15px;
}

.container-main-content-info {
	
}

.container-main-content-info p {
	font-size: 16px;
	font-weight: 400;
	color: #333;
	margin: 15px 0px;
}

/* NEWS */
:root { 
	--item-block-height: 200px; 
	--text-font-detail: 14px; 
	--text-color-detail: rgb(113, 113, 113);
}

.container-news {
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}

.container-news p:first-child {
	color: #333;
	font-size: 16px;
	font-weight: 600;
}

.container-content-item {
	margin-bottom: 20px;
	margin-top: 20px;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 200px;
	/* margin-bottom: 20px; */
	/* 	border-bottom: 1px solid rgb(207, 207, 207); */
}

.container-news .container-content-item:last-child {
	border-bottom: 0px;
}

.content-item-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 20px 0px;
}

.content-img {
	margin-right: 30px;
	height: 100%;
	width: 40%;
	overflow: hidden;
	border-radius: 10px;
}

.content-img img {
	width: 100%;
}

.content-info {
	margin-left: 42px;
	width: 60%;
	padding: 0px 10px;
	height: 100%;
}

.content-info-title {
	max-height: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.content-info-title p {
	font-size: var(- -text-font-detail);
	color: var(- -text-color-detail);
}

.content-info-title i {
	font-size: 22px;
	cursor: pointer;
	color: rgb(207, 207, 207);
}

.heart-active {
	color: #ff385c;
}

.content-info-name {
	width: 100%;
	margin-bottom: 10px;
	max-height: 35px;
}

.content-info-name a {
	font-size: 18px;
	font-weight: 400;
	color: black;
}

.content-info-name a:hover {
	color: rgb(122, 122, 122);
}

.content-info-detail {
	height: calc(100% - 20px - 35px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content-info-detail p:first-child {
	font-size: var(- -text-font-detail);
	color: var(- -text-color-detail);
	font-weight: 400;
}

.content-info-detail-end {
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	color: var(- -text-color-detail);
}

.content-info-detail-end-additional {
	width: 200px;
	height: 50px;
}

.info-evalution {
	display: flex;
	align-items: center;
}

.info-evalution i {
	font-size: var(- -text-font-detail);
	margin-right: 5px;
	color: #ff385c;
}

.star-point {
	margin-right: 5px;
	font-size: var(- -text-font-detail);
	color: var(- -text-color-detail);
}

.star-number {
	font-size: var(- -text-font-detail);
	color: var(- -text-color-detail);
}

.info-price {
	font-size: 30px;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	margin-top: 15px;
}

.info-price p:first-child {
	font-size: 18px;
	font-weight: bold;
	color: black;
	margin-right: 5px;
}

.info-price-time {
	font-size: 18px;
}

.content-info-detail-end-btn {
	height: 50px;
	display: flex;
	align-items: flex-end;
}

.content-info-detail-end-btn button {
	height: 34px;
	width: 115px;
	border-radius: 12px;
	background-color: #ff385c;
	color: #fff;
	font-weight: 300;
	font-size: 14px;
}

.content-info-detail-end-btn button:hover {
	cursor: pointer;
	background-color: #fc7e95;
}

.content-info-detail-end-btn button:first-child {
	margin-right: 20px;
}

/* FOOTER */
.footer {
	margin-top: 0px;
}

.fifth-section {
	padding: 35px 140px 0px 140px;
	height: 100%;
}

/* None */
.none-block {
	display: none;
}

.header {
	padding-left: 300px;
	padding-right: 300px;
}


.overlay-confirm {
	background-color: #fff;
	width: 500px;
	border-radius: 10px;
	/* background-image: url(/assets/Image/bg_form9.jpg); */
	background-color: #fff;
	margin-bottom: 200px;
}

.overlay-confirm-header {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.overlay-confirm-header p {
	margin-top: 95px;
	font-weight: 600;
	color: rgb(63, 63, 63);
	font-size: 18px;
}

.overlay-confirm-header i {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 20px;
	color: rgb(102, 102, 102);
}

.overlay-confirm-header i:hover {
	cursor: pointer;
}

.overlay-confirm-content {
	flex-direction: row;
	justify-content: flex-end;
	padding-bottom: 25px;
	position: relative;
	display: flex;
	align-items: center;
	padding: 40px;
}

.overlay-confirm-data {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.overlay-confirm-data-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px;
	height: 40px;
	width: 80%;
	border-bottom: 2px solid rgb(77, 77, 77);
}

.overlay-confirm-data-item i {
	display: block;
	color: rgb(63, 63, 63);
	font-size: var(- -text-label-font);
}

.overlay-confirm-data-item input {
	width: 100%;
	background-color: transparent;
	height: 40px;
	outline: none;
	padding-left: 10px;
	color: rgb(63, 63, 63);
	font-size: 16px;
}

.overlay-confirm-data-item input::placeholder {
	color: rgb(109, 109, 109);
	font-size: var(- -text-label-font);
}

.overlay-confirm-button {
	margin-top: 30px;
	width: 25%;
	margin-left: 20px;
}

.overlay-confirm-button button {
	height: var(--height-btn);
	width: 100%;
	border-radius: 8px;
	background-color: var(--btn-color);
	color: #fff;
	font-weight: 500;
}

.overlay-confirm-button button a {
	color: #fff;
	font-weight: 500;
}

.overlay-confirm-button button:hover {
	background-color: var(--btn-color-hover);
	cursor: pointer;
}

@media screen and (max-width:1400px){
  .header {
    
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .container{
   padding-left: 10%;
   padding-right: 10%;
  }
  
 .container-content-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid rgb(207, 207, 207);
 }
 
 .container-main {
 	padding-right: 0px;
 }
 .content-info {
 	margin-left: 0px;
 	padding-right: 0px;
 	padding-left: 0px;
 }
 
 .info-evalution i {
 	font-size: 14px;
 	
 }
 
  .info-evalution p {
 	font-size: 14px;
 	
 }
 
 .container-content-item {
 	margin: 0px;
 }
 
}